parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 16
			path: config/vantage.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition\:\:references\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/migrations/2025_09_23_000000_create_queue_job_runs_table.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Console/Commands/BackfillJobTags.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 2
			path: src/Console/Commands/PruneOldJobs.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Illuminate\\Http\\Request\:
				since Symfony 7\.4, use properties `\-\>attributes`, `query` or `request` directly instead$#
			'''
			identifier: method.deprecated
			count: 3
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Call to function is_string\(\) with class\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobFailed\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobProcessing\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''isReleased'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobProcessed\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Call to method error\(\) on an unknown class Illuminate\\Notifications\\Messages\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Instantiated class Illuminate\\Notifications\\Messages\\SlackMessage not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Method Storvia\\Vantage\\Notifications\\JobFailedNotification\:\:toSlack\(\) has invalid return type Illuminate\\Notifications\\Messages\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array\<mixed, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Support/JobRestorer.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: src/Support/JobRestorer.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 3
			path: src/Support/QueueDepthChecker.php

		-
			message: '#^Access to an undefined property Storvia\\Vantage\\Models\\VantageJob\:\:\$failed\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property Storvia\\Vantage\\Models\\VantageJob\:\:\$processed\.$#'
			identifier: property.notFound
			count: 2
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property Storvia\\Vantage\\Models\\VantageJob\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Call to function is_string\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Vantage.php
